:root {
    --light:      #dedefc;
    --dark:       #000b18;
    --primary:    #00489a;
    --secondary:  #3570f8;
    --tertiary:   #478bef;
    --accent1:    #391a6e;
    --accent2:    #463f63;
    --accent3:    #a69bd1;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
	.test-colors {
		color: pink;
	}
	.Tune-Image {
		width: 100%;
	}
	.dot{
		margin: 5%;
	}
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
	.test-colors {
		color:red;
	}
	.Tune-Image {
		width: 100%;
		padding: 10px;
	}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
	.test-colors {
		color:yellow;
	}
	.Tune-Image {
		width: 90%;
		padding: 20px;
	}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
	.test-colors {
		color:green;
	}
	.Tune-Image {
		width: 90%;
		padding: 20px;
	}
}


/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	.test-colors {
		color:blue;
	}
	.Tune-Image {
		width: 90%;
		padding: 20px;
	}
}
.Tune-Box {
	background-color: var(--accent1);
	margin: auto;
	
}
.Tune-Image {
	display: block;
	margin-left: auto;
  	margin-right: auto;
}
.Instrument-Box {
	text-align: center;
	color: white;
	 margin: auto;
	 width: 100%;
	 padding: 10px;
}
.dot {
	width: 150px;
	height: 150px;
	background-color: var(--accent1);
	border-radius: 50%;
	display: inline-block;
  }
  .Instrument-Icon {
	font-size: 5.5em;
	text-align: center;
  }